Build a regression model.

In [17]:
import matplotlib.pyplot as plt
import statsmodels.api as sm
import numpy as np
import pandas as pd

In [35]:
biz_and_station_info = pd.read_csv("C:/Users/mnicn/local_documents/lighthouse-data-notes/Week 3/Project 2 Fresh Files/data/biz_and_station_info.csv")
biz_and_station_info = biz_and_station_info.drop(labels="station_id",axis=1)
biz_and_station_info

,id,name,review_count,rating,Station ID,latitude,longitude,Station Name,Data Collection Timestamp,Empty Slots,Available Bikes,Total Slots,Status,Proportion of Bikes Available (%)
0,NensKn1MSVU_rm-1Y6WlFA,Marulilu Cafe,281.0,4.0,7a19c49f486d7c0c02b3685d7b240448,49.262487,-123.114397,0001 10th & Cambie,2022-11-12T18:26:37.834000Z,12,23,35,online,66.0
1,oHYOa9l5aLOQpJ8dF6sDmA,Menya Raizo,68.0,4.0,7a19c49f486d7c0c02b3685d7b240448,49.262487,-123.114397,0001 10th & Cambie,2022-11-12T18:26:37.834000Z,12,23,35,online,66.0
2,3sTVFA9wQQT_7RTUj_g1rw,Donair Spot,42.0,4.0,7a19c49f486d7c0c02b3685d7b240448,49.262487,-123.114397,0001 10th & Cambie,2022-11-12T18:26:37.834000Z,12,23,35,online,66.0
3,1AA4EjIIXywxOSnbyZ9vLA,Pho Extreme Xe Lua,101.0,2.5,7a19c49f486d7c0c02b3685d7b240448,49.262487,-123.114397,0001 10th & Cambie,2022-11-12T18:26:37.834000Z,12,23,35,online,66.0
4,31ag-M_QiaycGQrvAi169w,Jollibee,6.0,4.5,7a19c49f486d7c0c02b3685d7b240448,49.262487,-123.114397,0001 10th & Cambie,2022-11-12T18:26:37.834000Z,12,23,35,online,66.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1665,EDL7QoKosndp89SjjG01WA,7-Eleven,12.0,3.5,a6c6df138cbc97b9f81e7ffbbebdde6f,49.277527,-123.129464,0196 Hornby & Drake,2022-11-12T18:26:38.113000Z,23,1,24,online,4.0
1666,-JmmzX_t8XByqeHpIr4mpw,Starbucks,5.0,3.5,a6c6df138cbc97b9f81e7ffbbebdde6f,49.277527,-123.129464,0196 Hornby & Drake,2022-11-12T18:26:38.113000Z,23,1,24,online,4.0
1667,knF9zq8FM6ewSzbw8xnTQA,Freshii,4.0,3.5,a6c6df138cbc97b9f81e7ffbbebdde6f,49.277527,-123.129464,0196 Hornby & Drake,2022-11-12T18:26:38.113000Z,23,1,24,online,4.0
1668,l8TYmClsb2qIMowUTtasww,Starbucks,1.0,3.0,a6c6df138cbc97b9f81e7ffbbebdde6f,49.277527,-123.129464,0196 Hornby & Drake,2022-11-12T18:26:38.113000Z,23,1,24,online,4.0
1669,NaN,NaN,NaN,NaN,04f64fde5ba1ebde8ad78c74914adb34,49.259469,-123.145718,210 Burrard & 14th,2022-11-12T18:26:38.203000Z,16,2,18,online,11.0

Provide model output and an interpretation of the results.

In [36]:
#Where there were no businesses within 100 m, this table shows NaN for these stations. 
#Remove for the linear regression
no_nans = biz_and_station_info.dropna()
no_nans

,id,name,review_count,rating,Station ID,latitude,longitude,Station Name,Data Collection Timestamp,Empty Slots,Available Bikes,Total Slots,Status,Proportion of Bikes Available (%)
0,NensKn1MSVU_rm-1Y6WlFA,Marulilu Cafe,281.0,4.0,7a19c49f486d7c0c02b3685d7b240448,49.262487,-123.114397,0001 10th & Cambie,2022-11-12T18:26:37.834000Z,12,23,35,online,66.0
1,oHYOa9l5aLOQpJ8dF6sDmA,Menya Raizo,68.0,4.0,7a19c49f486d7c0c02b3685d7b240448,49.262487,-123.114397,0001 10th & Cambie,2022-11-12T18:26:37.834000Z,12,23,35,online,66.0
2,3sTVFA9wQQT_7RTUj_g1rw,Donair Spot,42.0,4.0,7a19c49f486d7c0c02b3685d7b240448,49.262487,-123.114397,0001 10th & Cambie,2022-11-12T18:26:37.834000Z,12,23,35,online,66.0
3,1AA4EjIIXywxOSnbyZ9vLA,Pho Extreme Xe Lua,101.0,2.5,7a19c49f486d7c0c02b3685d7b240448,49.262487,-123.114397,0001 10th & Cambie,2022-11-12T18:26:37.834000Z,12,23,35,online,66.0
4,31ag-M_QiaycGQrvAi169w,Jollibee,6.0,4.5,7a19c49f486d7c0c02b3685d7b240448,49.262487,-123.114397,0001 10th & Cambie,2022-11-12T18:26:37.834000Z,12,23,35,online,66.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1664,6PFzidqH3oSNK5eXOHNBIQ,Sombreros Mexican Products & Taqueria,30.0,4.0,a6c6df138cbc97b9f81e7ffbbebdde6f,49.277527,-123.129464,0196 Hornby & Drake,2022-11-12T18:26:38.113000Z,23,1,24,online,4.0
1665,EDL7QoKosndp89SjjG01WA,7-Eleven,12.0,3.5,a6c6df138cbc97b9f81e7ffbbebdde6f,49.277527,-123.129464,0196 Hornby & Drake,2022-11-12T18:26:38.113000Z,23,1,24,online,4.0
1666,-JmmzX_t8XByqeHpIr4mpw,Starbucks,5.0,3.5,a6c6df138cbc97b9f81e7ffbbebdde6f,49.277527,-123.129464,0196 Hornby & Drake,2022-11-12T18:26:38.113000Z,23,1,24,online,4.0
1667,knF9zq8FM6ewSzbw8xnTQA,Freshii,4.0,3.5,a6c6df138cbc97b9f81e7ffbbebdde6f,49.277527,-123.129464,0196 Hornby & Drake,2022-11-12T18:26:38.113000Z,23,1,24,online,4.0
1668,l8TYmClsb2qIMowUTtasww,Starbucks,1.0,3.0,a6c6df138cbc97b9f81e7ffbbebdde6f,49.277527,-123.129464,0196 Hornby & Drake,2022-11-12T18:26:38.113000Z,23,1,24,online,4.0

In [37]:
#Model to predict availability of bikes 
y = no_nans['Available Bikes']
X = no_nans[['review_count', 'rating']]
X = sm.add_constant(X)

model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:        Available Bikes   R-squared:                       0.000
Model:                            OLS   Adj. R-squared:                 -0.001
Method:                 Least Squares   F-statistic:                    0.3944
Date:                Sat, 12 Nov 2022   Prob (F-statistic):              0.674
Time:                        22:54:03   Log-Likelihood:                -5363.5
No. Observations:                1600   AIC:                         1.073e+04
Df Residuals:                    1597   BIC:                         1.075e+04
Df Model:                           2
Covariance Type:            nonrobust
================================================================================
                   coef    std err          t      P>|t|      [0.025      0.975]
--------------------------------------------------------------------------------
const           10.7000      0.793     13.487      0.000       9.144      12.256
review_count    -0.0004      0.001     -0.337      0.736      -0.002       0.002
rating          -0.1678      0.211     -0.795      0.427      -0.582       0.246
==============================================================================
Omnibus:                      170.346   Durbin-Watson:                   0.177
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              135.492
Skew:                           0.621   Prob(JB):                     3.79e-30
Kurtosis:                       2.301   Cond. No.                         857.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [62]:
#Create an aggregated table which counts the number of restaurants by each bike station. b
count_of_businesses = biz_and_station_info.groupby("Station ID")["id"].count()
count_of_businesses = pd.DataFrame(count_of_businesses)
count_of_businesses

                                  id
Station ID
00fa94ad698dc4a9e4d708d6fd32f294   0
012d3e06901cc222b1c2cf0a2ace3a29   2
029a505bd4422a1afd127987757f71a6   3
0438114d2e6b96118de69bc9775bb21e  22
0459b7e93703980b853cd65a9dc60596   1
...                               ..
fbb4c06b719596c21f91fd51ef6d4710   2
fe0c57d04d6e682d284d501446095fc9   1
fedff7a263c182df94bda7307059cc52   1
fef69fb400210d861107a61db954d037  33
fffd87607aaae16fbb1f71615cbe7d17   4

[241 rows x 1 columns]

In [63]:
count_of_businesses = count_of_businesses.reset_index()
count_of_businesses.head(3)

                         Station ID  id
0  00fa94ad698dc4a9e4d708d6fd32f294   0
1  012d3e06901cc222b1c2cf0a2ace3a29   2
2  029a505bd4422a1afd127987757f71a6   3

In [66]:
count_of_businesses.columns = ['Station ID', 'count of businesses']
count_of_businesses.head(3)

                         Station ID  count of businesses
0  00fa94ad698dc4a9e4d708d6fd32f294                    0
1  012d3e06901cc222b1c2cf0a2ace3a29                    2
2  029a505bd4422a1afd127987757f71a6                    3

In [69]:
#import data on bike stations
stations = pd.read_csv("C:/Users/mnicn/local_documents/lighthouse-data-notes/Week 3/Project 2 Fresh Files/data/df_stations.csv")
stations.head(2)

,Station ID,latitude,longitude,Station Name,Data Collection Timestamp,Empty Slots,Available Bikes,Total Slots,Status,Proportion of Bikes Available (%)
0,7a19c49f486d7c0c02b3685d7b240448,49.262487,-123.114397,0001 10th & Cambie,2022-11-12T18:26:37.834000Z,12,23,35,online,66.0
1,32603a87cfca71d0f7dfa3513bad69d5,49.274566,-123.121817,0004 Yaletown-Roundhouse Station,2022-11-12T18:26:37.848000Z,14,2,16,online,12.0

In [70]:
table_with_business_counts = count_of_businesses.merge(stations, how='inner', on='Station ID')
table_with_business_counts.head(3)

,Station ID,count of businesses,latitude,longitude,Station Name,Data Collection Timestamp,Empty Slots,Available Bikes,Total Slots,Status,Proportion of Bikes Available (%)
0,00fa94ad698dc4a9e4d708d6fd32f294,0,49.291909,-123.140713,0092 Chilco & Barclay,2022-11-12T18:26:37.973000Z,13,5,18,online,28.0
1,012d3e06901cc222b1c2cf0a2ace3a29,2,49.262321,-123.093060,0248 St George & Broadway,2022-11-12T18:26:38.147000Z,10,4,14,online,29.0
2,029a505bd4422a1afd127987757f71a6,3,49.275882,-123.071865,0232 Britannia Parking Lot,2022-11-12T18:26:38.138000Z,6,8,14,online,57.0

In [71]:
#Model to predict availability of bikes 
y = table_with_business_counts['Proportion of Bikes Available (%)']
X = table_with_business_counts['count of businesses']
X = sm.add_constant(X)

model = sm.OLS(y, X)
results = model.fit()
print(results.summary())

                                    OLS Regression Results
=============================================================================================
Dep. Variable:     Proportion of Bikes Available (%)   R-squared:                       0.009
Model:                                           OLS   Adj. R-squared:                  0.005
Method:                                Least Squares   F-statistic:                     2.089
Date:                               Sat, 12 Nov 2022   Prob (F-statistic):              0.150
Time:                                       23:04:12   Log-Likelihood:                -1136.1
No. Observations:                                241   AIC:                             2276.
Df Residuals:                                    239   BIC:                             2283.
Df Model:                                          1
Covariance Type:                           nonrobust
=======================================================================================
                          coef    std err          t      P>|t|      [0.025      0.975]
---------------------------------------------------------------------------------------
const                  42.0420      2.153     19.531      0.000      37.802      46.283
count of businesses     0.2743      0.190      1.445      0.150      -0.100       0.648
==============================================================================
Omnibus:                       30.806   Durbin-Watson:                   2.045
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               12.235
Skew:                           0.322   Prob(JB):                      0.00220
Kurtosis:                       2.103   Cond. No.                         14.0
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

# Stretch

How can you turn the regression model into a classification model?